html {
	height:100%;
}

body {
	height:100%;
	font-family: "Roboto Regular", "Helvetica", "Arial", sans-serif;;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #87C6C5;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-style:italic;
	font-size:smaller;
}
::-moz-placeholder { /* Firefox 19+ */
	font-style:italic;
	font-size:smaller;
}
:-ms-input-placeholder { /* IE 10+ */
	font-style:italic;
	font-size:smaller;
}
:-moz-placeholder { /* Firefox 18- */
	font-style:italic;
	font-size:smaller;
}

button {
	padding:5px 10px;
	font-size:12px;
}

.main-container {
	height:100%;
	width:100%;
	max-width:100% !important;
	display:flex;
	flex-direction: row;
    font-family: "Roboto Regular", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.data-display-container {
	height:100%;
	width:100%;
	overflow: hidden;
	position:relative;
}

.data-container-pane {
	height:100%;
	width:100%;
	overflow: hidden;
	position:relative;
}

.crosstab-view-splitter-container {
	position:absolute;
	right:0px;
	top:50%;
	z-index:99;
}

.crosstab-view-splitter {
	position:relative;
	right:0px;
	top:-62px;
}

.crosstab-view-splitter button {
	width: 38px;
	height: 30px;
	background-color:#CACACA;
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	margin-bottom:5px;
}

.crosstab-view-splitter button:hover, .crosstab-view-splitter button.selected {
	background-color:#2888A5;
}

.crosstab-view-splitter .full-table {
	background-image:url('../image/table.png');
}

.crosstab-view-splitter .full-table:hover, .full-table.selected  {
	background-image:url('../image/table_white.png');
}

.crosstab-view-splitter .half-tablechart {
	background-image:url('../image/table_graph.png');
	height:53px;
}

.crosstab-view-splitter .half-tablechart:hover, .half-tablechart.selected  {
	background-image:url('../image/table_graph_white.png');
}

.crosstab-view-splitter .full-chart {
	background-image:url('../image/graph.png');
}

.crosstab-view-splitter .full-chart:hover, .full-chart.selected {
	background-image:url('../image/graph_white.png');
}

.download {
	padding: 4px;
	background-color:#4382A0;
	color:#fff !important;
}


.clearfix {
	clear:both;
}

.hidden-container {
	display:none !important;
}

.visible-container {
	display:block !important;
}

.visible-flex-container {
	display:flex !important;
}

.right {
	float:right;
}

.custom-checkbox {
	padding-left: 20px;
}

.custom-checkbox span {
	/* Need to respecify the font familly here to make sure fontawesome won't override */
    font-family: "Roboto Regular", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.custom-checkbox input[type=checkbox] + label {
	cursor:pointer;
}

.custom-checkbox input[type=checkbox] {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.custom-checkbox input[type=checkbox] + label {
  display      : inline-block;
  margin-left  : -1em;
  line-height  : 1.2em;
}

.custom-checkbox input[type=checkbox]  + label > span.custom-input {
  display          : inline-block;
	width						 : 0.5em;
	height					 : 0.55em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
	margin-bottom		 : 7px;
  border           : 0.0625em solid #CBDAE3;
  background       : #fff;
  vertical-align   : bottom;
	position 				 : absolute;
	left 						 : -15px;
	top 						 : 2px;
}

.custom-checkbox input[type=checkbox]:checked + label > span.custom-input > span {
  display          : block;
	width						 : 0.33em;
	height					 : 0.33em;
	margin           : 0.06em;
  border           : none;
  background       : #fff;
  background-image :    -moz-linear-gradient(#4282A1,#4282A1);
  background-image :     -ms-linear-gradient(#4282A1,#4282A1);
  background-image :      -o-linear-gradient(#4282A1,#4282A1);
  background-image : -webkit-linear-gradient(#4282A1,#4282A1);
  background-image :         linear-gradient(#4282A1,#4282A1);
}

ul.axis-selected-dimensions {
	list-style:none;
	padding:0px;
	margin-left:0px;
}

ul.axis-selected-dimensions li {
	display:inline-block;
	margin-right:5px;
}

span.selected-dimension-bullet {
	background-color:#808284;
	color:#fff;
	border-radius:5px;
	padding:5px 10px;
	font-size:12px;
}

span.selected-dimension-bullet span, span.selected-dimension-bullet label  {
	color:#fff;
}

span.selected-dimension-bullet label  {
	/* Need to respecify the font familly here to make sure fontawesome won't override */
    font-family: "Roboto Regular", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

span.selected-dimension-bullet.first-axis {
	background-color:#5A5B5D;
}

span.selected-dimension-bullet.selected {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(5,135,235,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(5,135,235,1);
	box-shadow: 0px 0px 5px 0px rgba(5,135,235,1);
}

span.selected-dimension-bullet label {
	cursor:pointer;
}

span.selected-dimension-bullet label {
	display:inline-block;
	margin-right:10px;
}

span.selected-dimension-bullet .fa-close {
	cursor:pointer;
}

.loading-indicator {
	position:absolute;
	z-index: 999;
	width:100%;
	height:100%;
	/*background-color: lightgray;*/
}

.loading-icon {
	position:absolute;
	display:block;
	top:50%;
	left:50%;
    width:32px;
    height:32px;
    background-image:url('../image/ajax-loader.gif');
}

.show {
	visibility: visible;
	display:block;
}

.hide {
	visibility: hidden;
	display:none;
}

.pane_selector {
	float:right;
	margin:0.5em;
}

.pane_selector button {
	padding:0.5em;
	margin-left:1em;
	background-color:#EFF0F0;
	color:#000;
}

.pane_selector button:hover, .pane_selector button.selected {
	background-color:#4382A0;
	color:white;
}

button.secondary {
	background-color:#EFF0F0;
	color:#000;
	padding:5px 10px;
	font-size:12px;
}

button.secondary:hover {
	background-color:#2488A5;
	color:#fff;
	padding:5px 10px;
	font-size:12px;
}
