html {
	height:100%;
}

body {
	height:100%;
}

.main-container {
	height:100%;
	width:100%;
	max-width:100% !important;
	display:flex;
	flex-direction: row;
}

.clearfix {
	clear:both;
}

.hidden-container {
	display:none;
}
.visible-container {
	display:block;
}

.right {
	float:right;
}