.calendar {
  font: 10px sans-serif;
  height: 100%;
  width:100%;
  float:left;
  margin-right:1em
}

.calendar .graph {
  position: relative;
  height: calc(100% - 130px);  /* TODO.  find a better way to offset height of other components */
  overflow-y: scroll;
  overflow-x: hidden;
}

.calendar canvas,
.calendar svg {
  position: absolute;
  left: 0;
  top: 0;
  margins: 0;
  padding: 0;
}

.calendar .period {
  cursor: pointer;
}

.foreground .tooltip {
  font-size: 11px;
}

.x.axis .month {
  text-transform: capitalize;
}

.calendar-legend {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 115px;
}
