.calendar {
  font: 10px sans-serif;
  height: 100%;
  width:100%;
  float:left;
  margin-right:1em
}

.calendar .graph {
  position: relative;
  height: calc(100% - 130px);  /* TODO.  find a better way to offset height of other components */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.calendar .legend {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
  box-sizing: content-box;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
}

.calendar .legend h3 {
  text-align: center;
  margin-bottom: 0;
}

.calendar .legend .block {
  display: inline-block;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.legend .items {
  float: right;
}

.legend .item {
  vertical-align: top;
  display: inline-block;
}

.legend .item span:last-child {
  padding: 0 8px;
}

.calendar canvas,
.calendar svg {
  position: absolute;
  left: 0;
  top: 0;
  margins: 0;
  padding: 0;
}

.calendar .period {
  cursor: pointer;
}

.foreground .tooltip {
  font-size: 11px;
}

.zoomed rect,
.zoomed .x.axis,
.zoomed .y.axis {
  display: none;
}

.x.axis .month {
  text-transform: capitalize;
}

.calendar-legend {
  position: absolute;
  top: 0px;
  right: 40px;
  width: 115px;
}
