.chart-containter {
	top:10px;
	width:100%;
	text-align:center;
  position:relative;
}

.crosstab-container.full-table {
	visibility:hidden;
	height:0%;
}

.crosstab-container.half-table {
	visibility:visible;
	height:50%;
}

.crosstab-container.full-chart {
	visibility:visible;
	height:100%;
}

/* TODO : the following rule is not working, but dunno why */
.chart-container .loading-icon {
  top:5em;
}

.chart-container .content-container {
	width:80%;
	margin:10px auto;
}

/* NB Chart does not use CSS, so it can be downloaded in one piece */

.axis {
  cursor: pointer;
}

.legend {
	position: absolute;
	right: 40px;
	width: 115px;
	top: 0;
}

.legend > h6 {
	font-size: 12px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.legend-labels {
	cursor: pointer;
	max-height: 150px;
	box-sizing: border-box;
	padding: 5px;
	text-align: left;
	background-color: #f5f5f5;
	width: 100%;
	overflow-y: auto;
}


.legend-labels > p {
	margin-bottom: 0;
	font-size: 10px;
	width: 100%;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.legend-labels span {
	vertical-align: top;
}

.legend-labels > p.highlight {
	font-weight: bold;
}

.legend-labels > p.highlight path {
	stroke-width: 3px;
}
