.chart-containter {
	top:10px;
	width:100%;
	text-align:center;
  position:relative;
}

.crosstab-container.full-table {
	visibility:hidden;
	height:0%;
}

.crosstab-container.half-table {
	visibility:visible;
	height:50%;
}

.crosstab-container.full-chart {
	visibility:visible;
	height:100%;
}

/* TODO : the following rule is not working, but dunno why */
.chart-container .loading-icon {
  top:5em;
}

.chart-container .content-container {
	width:80%;
	margin:10px auto;
}

/* NB Chart does not use CSS, so it can be downloaded in one piece */

.legend, .axis {
  cursor: pointer;
}
