.chart-containter {
	height:50%;
	width:100%;
	text-align:center;
}

.chart-container .content-container {
	width:80%;
	margin:10px auto;
}

/* TODO.  svg rules below should be prefixed by .chart-container
         - not clear why not working */

.chart {
  cursor: crosshair;
}

.axis text {
  font-size: 10px;
}

.axis line,
.axis path {
  stroke: gray;
  fill: gray;
}

.ordinal circle {
  visibility: hidden;
}

.legend rect {
  stroke: none;
  fill: black;
  opacity: 0.05;
}

.legend text {
  font-size: 10px;
}