.loading {
  opacity: 0.6;
}

#spinner {
  position: fixed;
  z-index:99;
  -moz-animation: rotate 1s infinite linear;
  -webkit-animation: rotate 1s infinite linear;
  border-radius:25px;
  border-bottom:2px solid orange;
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

body.setup #spinner {
  top: 50%; left: 50%;
  margin-left: -30px; margin-top: -30px;
  width: 50px; height: 50px;
}

.loading ~ #spinner {
  top: 8px; right: 160px;
  width: 30px; height: 30px;
}

#app {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

/* to be replaced by carousel when time comes */
#slider {
  width: 1350px;
  overflow-x: scroll;
  overflow-y: hidden;
}


#report_panel {
  margin: 5px;
  position: relative;
  float: left;
  width: 480px;
}

#report_panel .scroll {
  height: 100%; /* 512px; */
  overflow:auto;
}

#calendar_panel {
  width: 475px;
  height: 512px;
}

#register_panel {
  width: 365px;
  height: 512px;
}