.crosstab-container {
	height:100%;
	width: 100%;
}








.pivot {
  display: inline-block;
  position: absolute;

  width: 100%;
  height: 100%;
}

.pivot * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pivot .filler {
  float: left;
}

.pivot .header.top {
  overflow: hidden;
  cursor: row-resize;
}

.pivot .header.top svg {
  left: 50px;
}

.pivot .header.left {
  float: left;
  overflow: hidden;
  cursor: col-resize;
}

.pivot .content {
  overflow: auto;
}

.pivot svg text {
  stroke: black;
  fill: black;
}

.pivot .domain {
  stroke: gray;
  fill: transparent;
}

.pivot .cell {
  cursor: pointer;
}

.pivot .cell:hover path,
.pivot .cell.focused path {
  stroke: red;
}