.slide-pannel-container {
	padding:0px !important;
	height:100%;
}

.query-container {
	height:100%;
	background-color:#E7E8EA;
	padding:0px !important;
	border-right:solid 8px #4382A0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	box-sizing:border-box;
	position:relative;
}

.query-container button {
	background-color:#DADADA;
	color:#5D5E60;
	padding:5px 10px;
	font-size:12px;
}

.slide-pannel-button {
	position:absolute;
	right:-25px !important;
	top:50%;
	background-color:#4382A0 !important;
	padding:10px 5px !important;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	color:#fff !important;
}

.query-show-handle {
  position: absolute;
  top: 0px;
	z-index:999;
	
	width:50px;
	height:100%;
	background-color:#4382A0;
	color:#fff;
	border-right:solid 8px #4382A0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	text-align:center;
	white-space:nowrap;
	cursor:pointer;
}

.query-show-handle p {
  position: relative;
  top: 50%;
	left: 7px;
	text-transform:uppercase;
	writing-mode: lr-bt; 
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.query-pane-section {
	padding:15px 40px;
	border-bottom:solid 2px #BACAD4;
}

.query-pane-section:last-child {
	border-bottom:none;
}

.query-pane-section.header h1 {
	font-size:20px;
	margin-bottom:20px;
	text-transform:uppercase;
}

.query-pane-section h2 {
	font-size:16px;
	margin-bottom:10px;
	text-transform:uppercase;
}

.query-pane-section h2.axis-title::first-letter {
	text-transform:lowercase;
}

.aggregate-selector {
	position:relative;
}

.aggregate-selector button {
	width:100%;
	text-align:left;
	font-size:11pt;
	color:#4E5052;
	background-color:#F1F1F2;
}

.aggregate-selector button .fa  {
	color:#3E7F9F;
}

.aggregate-selector ul {
	width:100%;
	background-color:#F1F1F2;
	padding:5px 10px;
	margin:0px;
	list-style:none;
	position:absolute;
	top:100%;
	left:0px;
}

.aggregate-selector li {
	padding-left:0px;
	font-size:10pt;
}

.aggregate-selector li input[type=radio] + label {
	cursor:pointer;
}

.aggregate-selector li input[type=radio] {
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.aggregate-selector li input[type=radio] + label { 
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

.aggregate-selector li input[type=radio]  + label > span.radio {
  display          : inline-block;
  width            : 0.84em;
  height           : 0.84em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid #CBDAE3;
  border-radius    : 50%;
  background       : #fff;
  vertical-align   : bottom;
}

.aggregate-selector li input[type=radio]:checked + label > span.radio > span {
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : none;
  border-radius    : 50%;
  background       : #fff;
  background-image :    -moz-linear-gradient(#4282A1,#4282A1);
  background-image :     -ms-linear-gradient(#4282A1,#4282A1);
  background-image :      -o-linear-gradient(#4282A1,#4282A1);
  background-image : -webkit-linear-gradient(#4282A1,#4282A1);
  background-image :         linear-gradient(#4282A1,#4282A1);
}





