
.titlebar {
  width: 440px;
  margin: 10px 5px 10px 20px;
  padding: 10px;
}

.titlebar .querystatus {
  border: 1px dashed #fece3c;
  border-radius: 10px;
}

.titlebar .legend {
  cursor: pointer;
}

.titlebar .legend .axis .tick path,
.titlebar .legend .axis .tick line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.titlebar .legend .axis.qtile .tick line {
  visibility: hidden;
}

.titlebar .legend .axis .domain {
  display: none;
}

.titlebar .legend .axis text {
  font-family: sans-serif;
  font-size: 9px;
}
